.header {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    width: 130px;
    padding-top: 21px;

    .logo__circle {
        position: absolute;
        left: calc(50% - 37px);
        bottom: 21px;
        z-index: -1;
    }
}

.header__nav {
    width: 30%;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.header__btn {
    @include black-btn;
}